---
import Navigation from "../components/Navigation.astro";
import MainLayout from "../layouts/MainLayout.astro";


const name = "Sobre Nosotros"
const currentYear: number = new Date().getFullYear();

---

<MainLayout>
	<h1>{name}</h1>
</MainLayout>
